body {	
	background: #ffffff;
	font: 12px 'Montserrat', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}
ul, li, a {
	vertical-align: baseline;
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;
}
*, *:after, *:before {
    box-sizing: border-box;
}
.header {
	position: relative;
	padding: 80px 0;
	text-align: center;
}
.burger-icon{
	position: absolute;
	top: 56px;
	left: 48px;
	display: none;
	padding: 0;
  	border: none;
  	font: inherit;
  	color: inherit;
  	background-color: transparent;
}
.burger-icon-off{
	position: absolute;
	top: 56px;
	left: 48px;
  	background-color: red;
  	z-index: 20;
}
.logo {
	width: 100px;
	height: 60px;
	display: block;
	margin: 0 auto 80px;
}
.logo svg {
	width: 100%;
}
.nav .nav-list li {
	display: inline-block;
	font-size: 20px;
	line-height: 24px;
	padding: 0;
}
.nav-list li a {
	color: #000;
	margin: 0 40px;
}
.slick-prev, .slick-next{
	display: none !important;
}
.slick-dots{
	display: flex;
	justify-content: center;
}
.slick-dots li {
	margin: 39px 10px 0;
}
.slick-dots li button{
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	background: #fff;
	border-radius: 50%;
	font-size: 0;
}
.slick-dots li.slick-active button{
	background:  #000;
}
ul.slick-dots {
	padding: 0;
}
.main-text {
	width: 1024px;
	margin: 80px auto;
	text-align: center;
}
.burger {
	display: none;
}
.slider img {
	margin: 0 auto;
}
.text {
	font-family: "Montserrat";
	font-size: 28px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}
.history {
	padding: 16px 0;
	width: 1024px;
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-family: "Montserrat";
  	font-size: 40px;
	color: #000000;
	text-transform: uppercase;
}
.block-info {
	max-width: 1024px;
	margin: 60px auto;
	display: flex;
	justify-content: center;
}
.block {
	display: flex;
	flex: 0 1 100%;
	align-items: center;
	background-color: #000;
	padding: 3em 2em 2em;
	margin-right: 28px;
}
.block-info .block:last-child {
	margin: 0;
}  
.text-block {
	color: #fff;
	font-family: "Montserrat";
	font-size: 18px;
}  
.text-block span {
	font-size: 2.5em;
}  
.text-block::first-line {
	line-height: .9;
}
.box {
	width: 1022px;
	height: 120px;
	border: 1px solid #000;
	margin: 47px auto;
}
form {
	display: flex;
	margin: 15px;
	padding: 2em;
	border: 1px solid;
}  
input[type=text] {
	flex: 1 1 auto;
	padding: 16px;
	border: none;
	margin-right: 16px;
  	opacity: 0.5;
  	font-family: "Montserrat", sans-serif;
  	font-size: 18px;
}  
input[type=submit] {
	flex: 0 1 auto;
	padding: 13px 79px;
	outline: none;
	border-style: none;
	background-color: black;
	color: #fff;
	text-transform: uppercase;
	border-radius: 8px;
	font-family: "Montserrat", sans-serif;
	font-size: 28px;
}
.burger {
	display: none;
}
/* tablet */
@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1200px) {
  	.header {
  		padding: 48px 0;
  		height: 150px;
  	}
  	.burger{
		position: absolute;
		top: 0;
		left: 0;
		background: #000;
		width: 100%;
		height: 600px;
		z-index: 10;
	}
	section.slider{
		margin: 0 32px;
	}
	.nav{
		display: none;
	}
	.menu-active .burger {
		display: block;
	}
  	.burger_active .burger{
  		top: 0;
  	}
  	.burger_overlay{
  		display: none;
  		position: fixed;
  		top: 0;
  		left: 0;
  		width: 100vw;
  		height: 100vh;
  		z-index: 5;
  	}
  	.burger-active .burger_overlay{
    	display: block;
  	}
    .logo-white svg{
    	width: 80px;
		height: 48px;
		margin: 48px auto 62px;
    }
    .logo-white path{
    	fill: #fff;
    }
	.logo {
		width: 80px;
		height: 48px;
		margin-bottom: 96px;
	}
	.nav{
		display: none;
	}
	.nav-burger .nav-list li {
		display: inline-block;
		font-size: 20px;
		line-height: 24px;
		margin: 62px 40px;
    }
    .nav-burger .nav-list li a {
		color: #fff;
    }
    .box-burger {
		width: 919px;
		height: 120px;
		border: 1px solid #fff;
		margin: 47px auto;
	}
	.box-burger input{
		background: #fff;
		color: #000; 
	}
	.box-burger [type=text]{
		background: #000;
		color: #fff; 
	}
	.burger-icon{
		display: initial;
	}
	.main-text, .history, .block-info, .block-text1{
		width: 928px;
		margin: 0 auto;
	}
	.main-text{
		margin-top: 49px; 
		margin-bottom: 47px;
	}
	.text{
		font-size: 20px;
		text-align: center; 
	}
	.history{
		font-size: 28px;
	}
	.block-info{
    	display: flex;
    	flex-direction: column;
	}
	.block{
		max-width: 928px;
		margin: 31px 0;
	}
	.block-info div:last-child{
		margin-top: 0;
	}
    .box{
    	max-width: 928px;
    	margin: 32px auto 80px;
    }
}
/* mobile */
@media only screen 
  and (min-width: 320px)
  and (max-width: 767px) {
  	body {
		font: 16px "Montserrat", sans-serif; 
	}
	.burger {
		top: 0;
		left: 0;
		display: none;
		background-color: #000;
		/* position: absolute; */
		z-index: 10px;
		width: 100%;
	}
	.burger-off {
		display: inline;
		position: relative;
		width: 48px;
		height: 31px;
		position: absolute;
		top: 23px;
		left: 20px;
		z-index: 100;
	}
	.burger-off:before,
	.burger-off:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 5px;
		background-color: #fff;
	}
	.burger-off:before {
		content: "";
		top: 0px;
	}
	.burger-off:after {
		content: "";
		top: -10px;
	}
	.burger-off span {
		display: block;
		position: absolute;
		width: 100%;
		height: 5px;
		top: 10px;
		background-color: #fff;
	}
	.burger-menu {
		display: inline;
		position: relative;
		width: 48px;
		height: 31px;
		position: absolute;
		top: 23px;
		left: 0;
		z-index: 100;
	}
	.slider {
		position: relative;
	}
	.burger-menu:before,
	.burger-menu:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 5px;
		background-color: #fff;
	}
	.burger-menu:before {
		content: "";
		top: 5px;
		transform: rotate(45deg);

	}
	.burger-menu:after {
		content: "";
		top: 5px;
		transform: rotate(-45deg);
	}
	.burger-menu span {
		display: block;
		position: absolute;
		width: 100%;
		height: 5px;
		top: 10px;
		background-color: #fff;
	}
  	.header {
		display: none;
	}
	.logo {
		display: none;
	}
	.main-text {
		text-align: center;
		margin: 0 auto 24px;
		width: 280px;
	}
	.text {
		font-size: 16px;
	}
	.slick-dots li {
		margin: 18px 8px;
	}
	.slick-dots li button{
		width: 14px;
		height: 14px;
	}
	.history {
		width: 280px;
		margin: 0 auto 24px;
	  	font-size: 20px;
	}
	.block-info {
		max-width: 280px;
		margin: 0 auto;
		display: block;	
	}
	.block {
		display: flex;
		flex: 0 1 40%;
		align-items: center;
		background-color: #000;
		padding: 20px;
		margin: 24px auto;
		max-width: 280px;
	} 
	.text-block span {
		display: block;
		font-size: 1.5em;
	}
	.text-block {
		font-size: 16px;
	}
	form {
		display: block;
		margin: 15px;
		padding: 0 20px;
	}
	.box {
		position: relative;
		display: block;
		width: 280px;
		height: 150px;
		margin: 24px auto; 
		margin-bottom: 127px;
    }
    .box-burger {
		display: none;
		position: relative;
		width: 280px;
		height: 150px;
		margin: 0 auto; 
		margin-bottom: 127px;
    }
    input[type=text] {
		flex: 0;
		padding: 20px;
		margin-right: 0px;
	  	font-size: 18px;
	}
	input[type=submit] {
		flex: 0;
		padding: 16px 99px;
		font-size: 24px;
		position: absolute;
		bottom: -87px; 
		left: 0;
		width: 280px;
	}
	.nav {
		display: none;
	}
	.menu-active {
		background-color: #000;
		display: block;
	}
	.menu-active .header {
		display: block;
	}
	.menu-active .burger {
		display: block;
	}
	.menu-active .logo-white {
		position: absolute;
		top: 0;
		right: 0;
		display: inline;
		margin: 20px 20px 0;
	}
	.menu-active .logo-white svg {
		width: 80px;
		height: 48px;
	}
	.menu-active .logo-white path {
		fill: #fff;
	}
	.menu-active .burger-menu span {
		transform: scale(0);
	}
	.menu-active .slider {
		display: none;
	}
	.menu-active .nav-burger {
		display: block;
		text-align: left;
		margin: 120px 0 52px 20px;
	}
	.menu-active .nav-burger .nav-list li {
		font-size: 20px;
		line-height: 24px;
		padding-bottom: 48px;
	}
	.menu-active .nav-burger .nav-list li a {
		color: #fff;
	}
	.menu-active .history {
		display: none;
	}
	.menu-active .block-info {
		display: none;
	}
	.menu-active .main-text {
		display: none;
	}
	.menu-active .box {
		display: none;
	}
	.menu-active .box-burger {
		display: block;
		color: #fff;
	}
	.menu-active input[type=text] {
		background-color: #000;
	}
	.menu-active input[type=submit] {
		background-color: #fff; 
		color: #000;
	}
	.menu-active .burger-off {
		display: none;
	}

}
/* Tablet small vers */ 
@media only screen 
  and (min-width: 768px)
  and (max-width: 1023px) {
	.header {
		padding: 48px 0;
		height: 150px;
	}
	.burger{
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	  	background: #000;
	  	width: 100%;
	  	height: 600px;
	  	z-index: 10;
    }
    .slider img {
		width: 300px;
	}
    section.slider{
		margin: 0 32px;
	}
	.menu-active .burger {
		display: block;
	}
	.burger_active .burger{
		top: 0;
	}
	.burger_overlay{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 5;
	}
	.burger-active .burger_overlay{
  		display: block;
	}
  	.logo-white svg{
	  	width: 80px;
	  	height: 48px;
	  	margin: 48px auto 62px;
  	}
  	.logo-white path{
		fill: #fff;
  	}
  	.logo {
	  	width: 80px;
	  	height: 48px;
	  	margin-bottom: 96px;
  	}
  	.nav{
	  	display: none;
  	}
  	.nav-burger .nav-list li {
  		display: inline-block;
  		font-size: 20px;
  		line-height: 24px;
  		margin: 62px 40px;
  	}
  	.nav-burger .nav-list li a {
  		color: #fff;
  	}
  	.box-burger {
  		width: 728px;
  		height: 120px;
  		border: 1px solid #fff;
  		margin: 47px auto;
  	}
  	.box-burger input{
	  	background: #fff;
	  	color: #000; 
  	}
  	.box-burger [type=text]{
	  	background: #000;
	  	color: #fff; 
  	}
  	.burger-icon{
	  	display: initial;
  	}
  	.main-text, .history, .block-info, .block-text1{
  		width: 728px;
  		margin: 0 auto;
  	}
  	.main-text{
	  	margin-bottom: 47px;
  	}
  	.text{
	  	font-size: 20px;
	  	text-align: center; 
  	}
  	.history{
	  	font-size: 28px;
  	}
  	.block-info{
  		display: flex;
  		flex-direction: column;
  	}
  	.block{
	  	max-width: 728px;
	  	margin: 31px 0;
  	}
  	.block-info div:last-child{
	  	margin-top: 0;
  	}
  	.box{
	  	max-width: 728px;
	  	margin: 32px auto 80px;
  	}
}